@font-face{
  font-family: Apercu-light;
  src: url(../assets/fonts/apercu_light_pro_84.otf);
}

@font-face {
  font-family: Apercu-normal;
  src: url(../assets/fonts/apercu_regular_pro.otf);
}
@font-face{
  font-family: Apercu-medium;
  src: url(../assets/fonts/apercu_medium_pro.otf);
}

@font-face{
  font-family: Apercu-bold;
  src: url(../assets/fonts/apercu_bold_pro.otf);
}

@font-face {
  font-family: Enclave-thin;
  src: url(../assets/fonts/Enclave-Thin.otf);
}