/*
  TODO - rename breakpoints to reflect general categories of small medium large, not particular devices.
  TODO - move grid-related variables to _grid.scss? in this case, all code pertaining to the grid would live in the grid. this file might be renamed _mixins.scss, and other variables would just live at the top of the relevant files...
*/


$serif-font-stack: Georgia, serif;
$sans-serif-font-stack: Helvetica, Arial, sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5em;
$desktop-width: 960px;
$tablet-width: 50em;
$phone-width: 30em;

$gutter-width: 3%;

$grey: #888b8d;
$orange: #f48029;
$page-head-color: #888b8d;
$text-dark: #888b8d;

$transition-time: .5s;


@mixin clearfix{
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin inline-block-justified{
  text-align: justify;
  &::after{
    content:'';
    display: inline-block;
    width: 100%;
    font-size: 0;
    line-height: 0;
  }
  >*{
    display: inline-block;
  }
}

@mixin border-radius($radius){
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin one-of-two{
  width: 50% - ($gutter-width/2);
}

@mixin fade-in{
  -webkit-transition: opacity $transition-time;
  -moz-transition: opacity $transition-time;
  -ms-transition: opacity $transition-time;
  -o-transition: opacity $transition-time;
  transition: opacity $transition-time;
}


@mixin pre-wrap{
  white-space: pre-wrap;       /* CSS 3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;
}