@import '_fonts';
@import '_normalize';
@import '_variables';
@import '_grid';
@import '_components';


body{
  font-family: 'Apercu-light', sans-serif;
}

h1{
  font-size: 150px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Enclave-thin', serif;
  font-weight: 100;
  color: #fff;
  line-height:1em;
  text-align: right;
}

body.mobile h1{
  font-size: 96px;
  text-align: center;
  padding-top: 1em;
}

p{
  line-height: 1.5em;
}

a{
  color: inherit;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
}

ul{
  margin: 0;
}

section{
  &.border-bottom{
    border-bottom: 1px solid $grey;
  }
}

.col.border-left{
  border-left: 1px solid #fff;
}

body.mobile .col.border-left{
  border-left: none;
}

.wrapper{
  display: block;
  width: 75%;
  margin: 0 auto;
}

.hidden{
  visibility: hidden;
  opacity: 0;
  @include fade-in;
}


// HEADER
#page-header{
  top: 15px;
  left: 30px;
  right: 30px;
  border-top: 2px solid $page-head-color;
  position: fixed;
  z-index: 10000;
  -webkit-transition: border-color $transition-time, transform $transition-time, -webkit-transform $transition-time;
  -moz-transition: border-color $transition-time, transform $transition-time;
  -ms-transition: border-color $transition-time, transform $transition-time;
  -o-transition: border-color $transition-time, transform $transition-time;
  transition: border-color $transition-time, transform $transition-time;

  &.hiding{
    transform: translateY(-3.5em);
    -webkit-transform: translateY(-3.5em);
  }

  .header-logo{
    position: absolute;
    background-image: url(../assets/images/ssnyc_nav-bar-logo.svg);
    background-repeat: no-repeat;
    top: .75em;
    left: 0;
    width: 137px;
    height: 24px;
  }

  #toggle-button{
    position: absolute;
    right: 0;
    color: $page-head-color;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: $page-head-color;
  }

  .locationTracker{
    position: absolute;
    top: 0;
    border-left: 2px solid $page-head-color;
    padding: .375em 0 0 .75em;
    color: $page-head-color;
    -webkit-transition: opacity $transition-time;
    -moz-transition: opacity $transition-time;
    -ms-transition: opacity $transition-time;
    -o-transition: opacity $transition-time;
    transition: opacity $transition-time;
    &::first-letter{
      text-transform: capitalize;
    }
  }

  #sectionTracker{
    left: 50%;
  }

  #slideTracker{
    left: 65%;
  }

}

body.fp-viewing-home #page-header .locationTracker{
  opacity: 0;
  visibility: hidden;
}

body.mobile .locationTracker{
  display: none;
}

// MENU
#main-nav{
  position: fixed;
  overflow-y: scroll;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 5em 3em;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;

  -webkit-transition: opacity $transition-time, visibility $transition-time;
  -moz-transition: opacity $transition-time, visibility $transition-time;
  -ms-transition: opacity $transition-time, visibility $transition-time;
  -o-transition: opacity $transition-time, visibility $transition-time;
  transition: opacity $transition-time, visibility $transition-time;

  .col{
    font-size: 16px;
    vertical-align: top;
  }

  h3{
    text-transform: uppercase;
    color: $orange;
    border-bottom: 1px solid #fff;
    line-height: 2em;
  }

  ul.primary {
    padding-left: 0;
    font-family: Apercu-medium, sans-serif;
    li a {
      text-transform: uppercase;
      color: #f48029;
    }
  }

  ul.primary > li {
    font-size: 1.5em;
    line-height: 1.7em;
  }

  ul.secondary{
    font-family: Apercu-light, sans-serif;
    color: #fff;
    padding-left: 1em;
    li:before {
      content: "> ";
    }
    li {
      font-size: .75em;
      line-height: 1.5em;
      a{
        text-transform: none;
        color: #fff;
      }
    }
  }

  .nav-connect div, .nav-contact div{
    font-weight: 100;
  }

  .nav-connect{
    a.social-link{
      height: 1.25em;
      padding-left: 1.5em;
      margin-bottom: .5em;
      display: block;
      background-repeat: no-repeat;
      background-position: left center;
      background-size: contain;
      &.twitter{
        background-image: url(../assets/images/icons/strongstudio_social-media_twitter.svg);
      }
      &.facebook{
        background-image: url(../assets/images/icons/strongstudio_social-media_facebook.svg);
      }
      &.tumblr{
        background-image: url(../assets/images/icons/strongstudio_social-media_tumblr.svg);
      }
      &.instagram{
        background-image: url(../assets/images/icons/strongstudio_social-media_instagram.svg);
      }
      &.linkedin{
        background-image: url(../assets/images/icons/strongstudio_social-media_linkedin.svg);
      }
    }
  }
}

body.mobile #main-nav h3{
  display: none;
}


// CONTROLS

.fp-controlArrow{
  background-repeat: no-repeat;
  background-size: contain;
  border-color: transparent !important;
  border-width: 0 !important;
  height: 58px;
  width: 29px !important;
  transform: translate3d(0, -25%, 0);
}

#down-arrow{
  position: fixed;
  top: 99%;
  width: 58px;
  height: 29px;
  background-image: url(../assets/images/down-orange.png);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
}

body.mobile #down-arrow{
  display: none;
}

.fp-controlArrow.fp-next, .fp-controlArrow.fp-prev{
  display: none;
}

.my-ControlArrow{
  position: fixed;
  z-index: 1000;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  display: block;
  width: 50px;
  height: 50px;
  background-size: contain;
  background-repeat: no-repeat;
  @include fade-in;
  opacity: 1;
  &:hover{
    cursor: pointer;
  }
  &.prev{
    background-position: top left;
    background-image: url(../assets/images/arrow-left.svg);
    left: 2%;
  }
  &.next{
    background-position: top right;
    background-image: url(../assets/images/arrow-right.svg);
    right: 2%;
  }
}

.fp-viewing-home, body.mobile{
  .my-ControlArrow{
    visibility: hidden;
    opacity: 0;
  }
}

.fp-controlArrow.fp-prev{
  background-image: url(../assets/images/arrow-left.svg);
}

.fp-controlArrow.fp-next{
  background-image: url(../assets/images/arrow-right.svg);
}

// SECTIONS AND SLIDES

body.mobile .section{
  padding-bottom: 4em;
  .slide{
    padding-top: 4em;
    &.section-heading{
      padding-top: 0;
    }
  }
}

.slide{
  background: #fff;
  .col{
    vertical-align: middle;
  }
  &.section-heading{
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.section-heading{
  background-size: cover;
  color: #fff;
  font-size: 1.5em;
  .col.one-of-two{
    @include column(1, 2, 10%);
    height: 300px;
    vertical-align: middle;
    display: table-cell;
  }
  p{
    font-size: 24px;
    font-weight: 100;
  }
}

.mobile .section-heading{
  padding-bottom: 64px;
  height: 100%;
  .col.one-of-two{
    display: inline-block;
    height: auto;
  }
}

.mobile .section-heading h1.col.one-of-two{
  margin-top: 64px;
}

.hint{
  position: absolute;
  top: 80%;
  left: 50%;
  font-size: .5em;
  line-height: 1.5em;
  width: 40%;
  text-align: center;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  h3{
    text-transform: uppercase;
    margin-bottom: 0;
  }
}

body.mobile .hint{
  display: none;
}

.four-up{
  .col{
    //display: table-cell;
    text-align: center;
    vertical-align: middle;
    //min-height: 100%;
    height: 100%;
    img{
      display: inline;
      width: 50%;
      max-height: 100%;
      //margin-top: 50%;
      //transform: translateY(-50%);
    }
  }
}

.col img{
  max-width: 100%;
  max-height: 100%;
}

body.mobile .col{
  padding-bottom: 32px;
}

body.slide-active{
  #down-arrow{
    background-image: url(../assets/images/down-orange.png);
  }
  #page-header{
    border-color: #fff;
  }
}

body.mobile{
  #page-header{
    border-color: $grey;
  }
}

body.fp-viewing-home{
  #down-arrow{
    background-image: url(../assets/images/down-arrow.png);
  }
  #page-header{
    border-color: #fff;
    .header-logo{
      background-image: url(../assets/images/ssnyc_nav-bar-logo-ko.svg);
    }
  }
}



.home.section-heading{
  background-image: url(../assets/images/strongstudio_home_photo.jpg);
}

.logos .slide.section-heading{
  background-image: url(../assets/images/logos/strongstudio_logos_chapter-cover.jpg);
}

.print .slide.section-heading{
  background-image: url(../assets/images/print/strongstudio_print_chapter-cover.jpg);
}

.full-bleed{
  width: 100%;
  height: 100%;
  background-size: cover;
  overflow: hidden;
}

.full-bleed img{
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
}

body.mobile .full-bleed img{
  width: 100%;
  height: auto;
  min-width: 0;
  min-height: 0;
}

.cs-title{
  display: inline-block;
  .cs{
    display: block;
    font-size: 2em;
    text-align: right;
  }
  h2{
    font-family: Enclave-thin, serif;
    font-size: 4em;
    margin: 0;
  }
}

.case-study-slide{
  .row .col{
    vertical-align: top;
  }
  dt{
    width: 100%;
    border-bottom: 1px solid $orange;
    font-family: Apercu-bold, sans-serif;
    text-transform: uppercase;
    color: $orange;
    &:after{
      content: ":";
    }
  }
  dd{
    margin: 1rem 0 3rem 0 !important;
    color: $grey;
    q{
      color: $orange;
      font-family: Enclave-thin, serif;
      font-size: 1.5em;
    }
  }
}